<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Secret page</title>
</head>
<body>
    <h1>Secret: <span th:text="${secret}"></span>!</h1>
    <form action="secret" method="post" content="multipart/form-data">
        <input type="text" hidden th:value="${_csrf.getToken()}" th:name="${_csrf.getParameterName()}">
        <input type="text" name="secret" placeholder="secret">
        <input type="submit">
    </form>
</body>
</html>